*{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color:#fff;
}

.center{
    max-width: 640px;
    width: 100%;
    margin: 0px auto;
}

body {
    background-image: url(https://edu.rosatom.ru/local/templates/edu/img/6.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 10px 
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}

.titleHead{
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 78%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 6px 12px;
    background-color: rgb(60, 136, 190);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-width: 146px;
}

.addTask{
    padding: 11px 20px;
}

ul {
    list-style: none;
    padding: 0;
}

.taskList{
    padding-right: 4px;
}

.taskElementBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #ccc;
}

.textOfTask{
    max-width: 370px;
    display: flex;
    flex-wrap: wrap;
    word-break: break-all;
    margin-left: 10px;
}

.btnDelComp{
    display: flex;
    align-items: center;
    gap: 3px;
}

.taskElementBlock:last-child {
    border-bottom: none;
}

.highlight-even{
    background-color: rgba(231,238,115, 0.6);
}

.highlight-odd{
    background-color: rgba(132,200,187, 0.3);
}


.check-icon{
    width: 20px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 .highlightEven, .highlightOdd, .removeLast, .removeFirst{
    height: 54px;
    margin-top: 10px;
}

.complete{
    width: 82px;
    height: 31px;
}

.completed{
    background-color: rgb(177,197,65); 
    
}

.completed > .textOfTask{
    text-decoration: line-through;
}

.footerInfo{
    background-color:transparent;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    align-items: center;
}

.infoItemMe{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 5px;
    min-height: 80px;
}

.myName{
    color:#fff;
    margin-left: 2px;
}

.wrapper{
    display: flex;
    align-items: flex-end;
    gap: 8px;
    margin-bottom: 2px;
}
